@model PopularizaceCz.ViewModels.HomepageViewModel
@{
    ViewBag.Title = "Přehled";
}

<div class="row">
    <div class="col-md-4">
        <h2>Nadcházející přednášky</h2>
        <ul>
            @foreach (var p in Model.UpcomingTalks)
            {
                <li>@Html.ActionLink(p.Name, "Show", "Talk", new { id = p.Id }) (@p.Start.ToString("d. M."))</li>
            }
        </ul>

		<p style="text-align: right">@Html.ActionLink("iCal export", "ExportUpcoming", "Talk")</p>
    </div>
    
    <div class="col-md-4">
        <h2>Záznamy podle osobností</h2>
        <ul>
            @foreach (var speaker in this.Model.FrequentSpeakers)
            {
                <li>@Html.ActionLink(speaker.Key.Name, "Show", "Person", new { id = speaker.Key.Id }) (@speaker.Value)</li>
            }
        </ul>

        <h2>Záznamy podle témat</h2>
        <ul>
            @foreach (var cat in this.Model.FrequentCategories)
            {
                <li>@Html.ActionLink(cat.Key.Name, "Show", "Category", new { id = cat.Key.Id }) (@cat.Value)</li>
            }
        </ul>
        
        <h2>Záznamy podle organizátorů</h2>
        <ul>
            @foreach (var organizer in this.Model.FrequentOrganizers)
            {
                <li>@Html.ActionLink(organizer.Key.Name, "Show", "Organization", new { id = organizer.Key.Id }) (@organizer.Value)</li>
            }
        </ul>
    </div>

    <div class="col-md-4">
        <h2>O projektu</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dapibus velit augue, scelerisque elementum metus pellentesque quis. Nunc ac neque id sapien gravida fermentum. Maecenas condimentum, felis quis suscipit eleifend, lectus urna tempor nulla, quis condimentum ligula augue ac sem. Ut quis ultricies quam. Aenean hendrerit efficitur nunc. Nam consectetur, dolor a suscipit scelerisque, turpis magna malesuada eros, eget porta diam mi eu ante. Suspendisse lectus tellus, tempus id massa at, consequat hendrerit justo. Quisque lorem ex, efficitur eu felis id, pretium efficitur justo. Proin nec leo quis est accumsan suscipit.</p>

        <p>Etiam eleifend ut metus ut condimentum. Mauris ut egestas ligula. Quisque molestie pellentesque mauris, imperdiet venenatis enim facilisis vitae. Pellentesque mattis lorem nec convallis efficitur. Cras consequat leo vel justo ultrices varius. Nam venenatis tortor ante, ut malesuada augue dapibus eu. Etiam tristique orci turpis, id pretium justo pharetra ut. Donec aliquam sapien eu ante ullamcorper ullamcorper. Aenean condimentum molestie orci non egestas. Phasellus volutpat mattis nunc, vitae condimentum metus lobortis quis. Pellentesque quis placerat enim. Nullam faucibus non nunc at ultricies. Nam a consequat est. Donec dapibus sem orci, ac faucibus felis ultricies laoreet.</p>

        <p>Vestibulum volutpat at magna nec rutrum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer eu maximus elit. Praesent pellentesque augue sed aliquam finibus. Morbi pretium dui in porta finibus. Proin sed risus nec metus lobortis accumsan at pellentesque urna. Aliquam id egestas mi. Nam vitae tempus turpis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque tempus viverra purus, et porttitor nisi sagittis vitae. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tristique elit sit amet dui condimentum fermentum. Sed ante ex, semper non neque sed, maximus luctus arcu.</p>
    </div>
</div>