@model PopularizaceCz.ViewModels.HomepageViewModel
@{
    ViewBag.Title = "Přehled";
}

<div class="row">
    <div class="col-md-6">
        <h2>Nadcházející přednášky</h2>
        <ul>
            @foreach (var p in Model.UpcomingTalks)
            {
                <li>@Html.ActionLink(p.Name, "Show", "Talk", new { id = p.Id }) (@p.Start.ToString("d. M."))</li>
            }
        </ul>

		<p style="text-align: right">@Html.ActionLink("iCal export", "ExportUpcoming", "Talk")</p>
    </div>
    
    <div class="col-md-3">
        <h2>Osobnosti</h2>
        <ul>
            @foreach (var speaker in this.Model.FrequentSpeakers)
            {
                <li>@Html.ActionLink(speaker.Key.Name, "Show", "Person", new { id = speaker.Key.Id }) (@speaker.Value)</li>
            }
        </ul>

        <h2>Témata</h2>
        <ul>
            @foreach (var cat in this.Model.FrequentCategories)
            {
                <li>@Html.ActionLink(cat.Key.Name, "Show", "Category", new { id = cat.Key.Id }) (@cat.Value)</li>
            }
        </ul>
        
        <h2>Organizátoři</h2>
        <ul>
            @foreach (var organizer in this.Model.FrequentOrganizers)
            {
                <li>@Html.ActionLink(organizer.Key.Name, "Show", "Organization", new { id = organizer.Key.Id }) (@organizer.Value)</li>
            }
        </ul>
    </div>

    <div class="col-md-3">
        <h2>O projektu</h2>

        <p>Popularizace.cz je skromný web agregující přednášky ozřejmující vědu, techniku a kulturu. V současném stavu mu do dokonalosti mnoho chybí. Pokud se povede, měl by sloužit jednak jako zdroj informací o tom, kam se v nadcházejících týdnech dá jít poslouchat, jednak jako místo s odkazy na záznamy na přednášky uplynulé.</p>
    </div>
</div>